@import url('https://fonts.googleapis.com/css?family=Roboto')
  
.outbox
  width: 100vw
  height: 100vh
  // background: grey 
  background-image: url(../../../assets/images/background.jpg)
  background-size: cover
  display: flex
  justify-content: center

.box
  width: 20%
  min-width: 300px
  max-height: 50%
  // max-height: 700px
  // background: white
  margin-top: 5%
  border-radius: 5px