.outbox
  display: flex
  flex-direction: column
  align-items: flex-start
  min-width: max-content
  z-index: 3
  input
    border: 1px solid grey !important
    box-shadow: none !important
    padding: 0
    // margin: auto
.sugges_outbox
  border: 1px solid grey
  min-width: min-content
  background: white
.sugges_box

.sugges_category
  padding-left: 1rem
  font-size: 1.1rem
  color: white
  background: rgb(141, 232, 219)
.sugges_arr
  display: flex
  flex-direction: column
.sugges_value
  font-size: 1rem
  color: grey
  padding: 0 2rem
  white-space: nowrap
  width: min-content
  min-width: 100%
  &:hover
    background: rgb(141, 232, 219)
    width: 100%