@import '../../../modules/mediaQuery/app'

@media screen and (max-width: $tablet)
  .outbox
    height: 10vh
    background-color: #fff;

  .title
    font-size: 1.2rem

  .select
    display: inline-block;
    border: 1px solid #1E333B;
    border-radius: 0;
    text-indent: 8px;
    padding: 0 10px 0 0;
    height: 34px;
    line-height: 32px;
    min-width: 178px;
    font-weight: 200;
    color: #8a8e9d;
    background-position: right 10px top 5px;
    background-color: transparent;
    max-width: none;
    option
      font-weight: normal;
      display: block;
      white-space: pre;
      min-height: 1.2em;
      padding: 0px 2px 1px;