.outbox
  width: 100vw
  height: 7vh
  background: grey
  display: flex
  justify-content: center
  align-items: center
.box
  min-width: 80%
  height: 70%
  background: white
  display: flex
.logo
  width: 100px
  height: 100%
  background: orange

.search
  width: 200px
  height: 100%
  display: flex
  align-items: center
  .input
    height: 70%
  .button
    width: 30px
    height: 30px
.list
  display: flex
  margin-left: auto
  justify-content: space-around