.navbar
  align-items: flex-start
  min-width: 320px
  position: fixed
  top: 0
  z-index: 2
  width: 100vw
  max-height: 8vh
  background: grey

.content
  align-items: flex-start

.logo
  width: 120px
  height: 100%
  background: pink

.search
  align-items: flex-start

.btn
  margin-left: 2rem

.lists
  color: blue
  word-break: none  
  white-space: nowrap
  