.outbox
  width: 100vw
  min-height: 100vh
  display: flex
  justify-content: center
  background: grey

.box
  width: 60%
  margin-top: 10vh

.content
  padding: 3%
  background: white

.title
  color: blue
  font-size: 30px

.table

.process_box
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-end

.total
  font-size: 20px
  font-weight: bold

  